@media (min-width: 992px) and (max-width: 1200px) {
    .choose-wrap.pl-100 {
        padding-left: 50px;
    }
}
@media (max-width: 767px) {
    .section-title {
        padding-left: 0;
        padding-right: 0;
    }
}

