{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <!--====== Required meta tags ======-->
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!--====== Title ======-->
  <title>ParisGold </title>
  <!--====== Favicon Icon ======-->
  <link rel="shortcut icon" href="{% static 'web/img/favicon.png' %}" type="img/png" />
  <!--====== Animate Css ======-->
  <link rel="stylesheet" href="{% static 'web/css/animate.min.css' %}">
  <!--====== Bootstrap css ======-->
  <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}" />
  <!--====== Fontawesome css ======-->
  <link rel="stylesheet" href="{% static 'web/css/font-awesome.min.css' %}" />
  <!--====== Flaticon css ======-->
  <link rel="stylesheet" href="{% static 'web/css/flaticon.css' %}" />
  <link rel="stylesheet" href="{% static 'web/fonts/flaticon/flaticon-2.css' %}" />
  <!--====== Magnific Popup css ======-->
  <link rel="stylesheet" href="{% static 'web/css/magnific-popup.css' %}" />
  <!--====== Owl Carousel css ======-->
  <link rel="stylesheet" href="{% static 'web/css/slick.css' %}" />
  <!--====== Nice Select ======-->
  <link rel="stylesheet" href="{% static 'web/css/nice-select.css' %}" />
  <!--====== Mapbox ======-->
  <link rel="stylesheet" href="{% static 'web/css/leaflet.css' %}" />
  <link rel="stylesheet" href="{% static 'web/css/mapbox-gl.min.css' %}" />
  <!--====== Bootstrap Datepicker ======-->
  <link rel="stylesheet" href="{% static 'web/css/bootstrap-datepicker.css' %}" />
  <!--====== Ion Rangeslider ======-->
  <link rel="stylesheet" href="{% static 'web/css/ion.rangeSlider.min.css' %}" />
  <!--====== Default css ======-->
  <link rel="stylesheet" href="{% static 'web/css/default.css' %}" />
  <!--====== Style css ======-->
  <link rel="stylesheet" href="{% static 'web/css/style.css' %}" />
  <!-- ===== Responsive css ====== -->
  <link rel="stylesheet" href="{% static 'web/css/responsive.css' %}">
</head>

<body>
  <div class="preloader">
    <img src="{% static  'web/img/paris gold white logo.png' %}" alt="">
    
  </div>

  {% include 'web/partials/header.html' %}
    {% block content %}

    {% endblock %}
    {% include 'web/partials/footer.html' %}


 <!--====== jquery js ======-->
 <script src="{% static 'web/js/vendor/modernizr-3.6.0.min.js' %}"></script>
 <script src="{% static 'web/js/vendor/jquery-1.12.4.min.js' %}"></script>
 <!--====== Bootstrap js ======-->
 <script src="{% static 'web/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'web/js/popper.min.js' %}"></script>
 <!--====== Slick js ======-->
 <script src="{% static 'web/js/slick.min.js' %}"></script>
 <!--====== Isotope js ======-->
 <script src="{% static 'web/js/isotope.pkgd.min.js' %}"></script>
 <!--====== Magnific Popup js ======-->
 <script src="{% static 'web/js/jquery.magnific-popup.min.js' %}"></script>
 <!--====== inview js ======-->
 <script src="{% static 'web/js/jquery.inview.min.js' %}"></script>
 <!--====== counterup js ======-->
 <script src="{% static 'web/js/jquery.countTo.js' %}"></script>
 <!--====== Nice Select ======-->
 <script src="{% static 'web/js/jquery.nice-select.min.js' %}"></script>
 <!--====== Bootstrap datepicker ======-->
 <script src="{% static 'web/js/bootstrap-datepicker.js' %}"></script>
 <!--====== Ion Rangeslider ======-->
 <script src="{% static 'web/js/ion.rangeSlider.min.js' %}"></script>
 <!--====== Jquery Countdown ======-->
 <script src="{% static 'web/js/jquery.countdown.min.js' %}"></script>
 <!--====== Wow JS ======-->
 <script src="{% static 'web/js/wow.min.js' %}"></script>
 <!--====== Mapbox Map ======-->
 <script src="{% static 'web/js/leaflet.js' %}"></script>
 <script src="{% static 'web/js/mapbox-gl.min.js' %}"></script>
 <script src="{% static 'web/js/map.js' %}"></script>
 <!--====== Main js ======-->
 <script src="{% static 'web/js/main.js' %}"></script>
</body>

</html>
