{% extends 'web/base.html' %}
{% load static %}
{% block content %}

 
  <!--====== BREADCRUMB PART START ======-->
  <section class="breadcrumb-area" style="background-image: url({% static 'web/img/bg/04.jpg' %});">
    <div class="container">
      <div class="breadcrumb-text">
        <span>Highgrade Jewels </span>
        <h2 class="page-title">Diamond</h2>
        <ul class="breadcrumb-nav">
          <li><a href="#">Home</a></li>
          <li class="active">Diamond</li>
        </ul>
      </div>
    </div>
  </section>
  


<div class="container">
  <div class="row gold-row-pad">
    <div class="about-text-box">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="about-img">
                  <img src="{% static 'web/img/text-block/DIAMOND.jpg' %}" alt="images">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-text">
                  <span>Diamond</span>
                  <h3>Perfect Cut, Perfect Quality</h3>
                  <p>
                    As a leading wholesale dealer of gold and diamond dealer in Dubai, Paris Gold look forward to delivering the highest quality gold and diamonds. We supply diamonds that comprises the best cut, colour, clarity and carat weight. There is no compromise when it comes to quality and we ensure to deliver quality gold and diamonds at the best reasonable price. Get your perfect quality diamond with Paris Gold.
                  </p>
                  <!-- <h3>Get All Gold Jewelry At 50 Percent, Grab It Now </h3> -->
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
 
  
  
  
  <!--====== BREADCRUMB PART END ======-->
  <!--====== SHOP SECTION START ======-->
  {% comment %}
  <section class="Shop-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Shop Sidebar -->
        <div class="col-lg-4 col-md-10 col-sm-10">
          <div class="sidebar">
            <!-- About Author Widget -->
            <!-- Search Widget -->
            <div class="widget search-widget mb-40">
              <h5 class="widget-title">Search Objects</h5>
              <form action="#">
                <input type="text" placeholder="Search your keyword...">
                <button type="submit"><i class="far fa-search"></i></button>
              </form>
            </div>
            <!-- Popular Post Widget -->
            <div class="widget popular-feeds mb-40">
              <h5 class="widget-title">Popular Products</h5>
              <div class="popular-feed-loop">
                <div class="single-popular-feed">
                  <div class="feed-img">
                    <img src="{% static 'web/img/recent-post-wid/04.png' %}" alt="Image">
                  </div>
                  <div class="feed-desc desc">
                    <h6><a href="shop-detail.html">Golden Pendant.</a></h6>
                    <span class="price">$500 <span>$580</span></span>
                  </div>
                </div>
                <div class="single-popular-feed">
                  <div class="feed-img">
                    <img src="{% static 'web/img/recent-post-wid/05.png' %}" alt="Image">
                  </div>
                  <div class="feed-desc desc">
                    <h6><a href="shop-detail.html">Silver Pendant.</a></h6>
                    <span class="price">$400 <span>$520</span></span>
                  </div>
                </div>
                <div class="single-popular-feed">
                  <div class="feed-img">
                    <img src="{% static 'web/img/recent-post-wid/06.png' %}" alt="Image">
                  </div>
                  <div class="feed-desc desc">
                    <h6><a href="shop-detail.html">Diamond Ring.</a></h6>
                    <span class="price">$390 <span>$450</span></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cart Widget -->
            <div class="widget popular-feeds mb-40">
              <h5 class="widget-title">Cart</h5>
              <div class="popular-feed-loop">
                <div class="single-popular-feed">
                  <div class="feed-img">
                    <img src="{% static 'web/img/recent-post-wid/04.png' %}" alt="Image">
                  </div>
                  <div class="feed-desc desc">
                    <div class="cart-flex">
                      <h6><a href="#">Golden Pendant.</a></h6>
                      <a href="#" class="remove"><i class="fal fa-times"></i></a>
                    </div>
                    <span class="price">$500 <span>$580</span></span>
                  </div>
                </div>
                <div class="single-popular-feed">
                  <div class="feed-img">
                    <img src="{% static 'web/img/recent-post-wid/05.png' %}" alt="Image">
                  </div>
                  <div class="feed-desc desc">
                    <div class="cart-flex">
                      <h6><a href="#">Silver Pendant.</a></h6>
                      <a href="#" class="remove"><i class="fal fa-times"></i></a>
                    </div>
                    <span class="price">$400 <span>$520</span></span>
                  </div>
                </div>
                <div class="single-popular-feed border-0 mb-0">
                  <div class="feed-img">
                    <img src="{% static 'web/img/recent-post-wid/06.png' %}" alt="Image">
                  </div>
                  <div class="feed-desc desc">
                    <div class="cart-flex">
                      <h6><a href="#">Diamond Ring.</a></h6>
                      <a href="#" class="remove"><i class="fal fa-times"></i></a>
                    </div>
                    <span class="price">$390 <span>$450</span></span>
                  </div>
                </div>
                <div class="widget-cart-info">
                  <div class="cart-details">
                    <span>Subtotal:</span>
                    <span>$51.00</span>
                  </div>
                  <div class="cart-buttons">
                    <a href="cart.html" class="main-btn btn-filled">View Cart</a>
                    <a href="checkout.html" class="main-btn btn-filled">Checkout</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Price Range Widget -->
            <div class="widget socail-widget mb-40">
              <h5 class="widget-title">Price</h5>
              <input type="text" class="js-range-slider" name="my_range" value="" />
            </div>
            <!-- Color Widget -->
            <div class="widget socail-widget mb-40">
              <h5 class="widget-title">Color</h5>
              <div class="filter-color">
                <form>
                  <label class="checkbox">
                    <input type="checkbox" name="#">
                    <span class="custom-box"></span>
                    Red
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="#">
                    <span class="custom-box"></span>
                    Green
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="#">
                    <span class="custom-box"></span>
                    Brown
                  </label>
                  <label class="checkbox">
                    <input type="checkbox" name="#">
                    <span class="custom-box"></span>
                    Grey
                  </label>
                  <label class="checkbox mb-0">
                    <input type="checkbox" name="#">
                    <span class="custom-box"></span>
                    Orange
                  </label>
                </form>
              </div>
            </div>
            <!-- Instagram Feeds Widget -->
            <div class="widget instagram-feed-widget mb-40">
              <h5 class="widget-title">Instagram Feeds</h5>
              <ul>
                <li><img src="{% static 'web/img/instagram-wid/01.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/02.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/03.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/04.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/05.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/06.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/07.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/08.jpg' %}" alt="Image"></li>
                <li><img src="{% static 'web/img/instagram-wid/09.jpg' %}" alt="Image"></li>
              </ul>
            </div>
            <!-- Popular Tags Widget -->
            <div class="widget popular-tag-widget">
              <h5 class="widget-title">Popular Tags</h5>
              <ul>
                <li><a href="#">Rings</a></li>
                <li><a href="#">earrings</a></li>
                <li><a href="#">necklace</a></li>
                <li><a href="#">bracelets</a></li>
                <li><a href="#">wedding ring</a></li>
                <li><a href="#">bangles</a></li>
                <li><a href="#">hard ring</a></li>
                <li><a href="#">ankle bracelet</a></li>
                <li><a href="#">silver braclet</a></li>
                <li><a href="#">earring</a></li>
                <li><a href="#">copper bracelet</a></li>
                <li><a href="#">tech</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-10">
          <div class="shop-products-wrapper">
            <div class="shop-product-top">
              <p>Showing 1 To 9 Of 60 results</p>
              <div class="sorting-box">
                <select name="guests" id="guests">
                  <option value="" disabled selected>Default Sorting</option>
                  <option value="1">Sort By Popularity</option>
                  <option value="2">Sort By Latest</option>
                  <option value="4">Sort By Rating</option>
                  <option value="8">Sort By Price:Low to High</option>
                  <option value="8">Sort By Price:High to Low</option>
                </select>
              </div>
            </div>
            <div class="product-wrapper restaurant-tab-area">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/01.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">Sale</span>
                        <span class="price discounted">-15%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Ankle Bracelet</a>
                      </h4>
                      <span class="price">$390 <span>$480</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/02.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">New</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Stud Earrings </a>
                      </h4>
                      <span class="price">$290 <span>$300</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/03.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">New</span>
                        <span class="price discounted">-10%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Crumpled Ring   </a>
                      </h4>
                      <span class="price">$450 <span>$510</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/01.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">Sale</span>
                        <span class="price discounted">-15%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Golden Pendant</a>
                      </h4>
                      <span class="price">$780 <span>$800</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/02.jpg' %}" alt="images">
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Silver Pendant.</a>
                      </h4>
                      <span class="price">$290 <span>$300</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/03.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price discounted">-10%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Diamond Ring.</a>
                      </h4>
                      <span class="price">$890 <span>$900</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/01.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">Sale</span>
                        <span class="price discounted">-15%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Stud Earrings </a>
                      </h4>
                      <span class="price">$580 <span>$630</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/02.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">Sale</span>
                        <span class="price discounted">-40%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Ankle Bracelet</a>
                      </h4>
                      <span class="price">$290 <span>$300</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/03.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price discounted">-10%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Diamond Ring.</a>
                      </h4>
                      <span class="price">$800 <span>$920</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/01.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">Sale</span>
                        <span class="price discounted">-15%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Ankle Bracelet</a>
                      </h4>
                      <span class="price">$390 <span>$480</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/02.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">New</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Stud Earrings </a>
                      </h4>
                      <span class="price">$290 <span>$300</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="food-box shop-box">
                    <div class="thumb">
                      <img src="{% static 'web/img/shop/03.jpg' %}" alt="images">
                      <div class="badges">
                        <span class="price">New</span>
                        <span class="price discounted">-10%</span>
                      </div>
                      <div class="button-group">
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="far fa-sync-alt"></i></a>
                        <a href="#" data-toggle="modal" data-target="#quickViewModal"><i class="far fa-eye"></i></a>
                      </div>
                    </div>
                    <div class="desc">
                      <h4>
                        <a href="shop-detail.html">Crumpled Ring   </a>
                      </h4>
                      <span class="price">$450 <span>$510</span></span>
                      <a href="shop-detail.html" class="link"><i class="fal fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-wrap">
            <ul>
              <li><a href="#"><i class="far fa-angle-double-left"></i></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#"><i class="far fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}
  <!--====== SHOP SECTION END ======-->
  <!--====== INSTAGRAM FEED PART START ======-->
  {% comment %}
  <div class="instagram-feed-section">
    <div class="container-fluid p-0">
      <div class="instagram-slider">
        <div class="image">
          <a href="{% static 'web/img/instagram/01.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/01.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/02.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/02.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/03.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/03.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/04.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/04.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/05.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/05.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/06.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/06.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/01.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/01.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/02.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/02.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/03.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/03.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/04.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/04.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/05.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/05.jpg' %}" alt="instagram-feed">
          </a>
        </div>
        <div class="image">
          <a href="{% static 'web/img/instagram/06.jpg' %}" class="insta-popup">
            <img src="{% static 'web/img/instagram/06.jpg' %}" alt="instagram-feed">
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
  <!--====== INSTAGRAM FEED PART END ======-->
  <!--====== Back to Top ======-->
  <a href="#" class="back-to-top" id="backToTop">
    <i class="fal fa-angle-double-up"></i>
  </a>
   <!--====== FOOTER PART START ======-->
   {% comment %}
   <footer>
    <div class="footer-subscibe-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe-text text-center">
                        <div class="footer-logo mb-45">
                            <img src="{% static 'web/img/paris gold white logo.png' %}" alt="images">
                        </div>
                        <p>
                            Subscribe with Paris Gold to know about the latest updates and news from us. Get you special jewels for you and your special ones.

                        </p>
                        <form action="#" class="subscribe-form mt-50">
                            <input type="email" placeholder="Enter your email address">
                            <button type="submit">subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="copyright-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-2 order-md-1">
                    <p class="copyright-text">copyright by@Yourwebsite</p>
                </div>
                <div class="col-md-7 order-1 order-md-2">
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>
{% endcomment %}
<!--====== FOOTER PART END ======-->

  {% endblock %}