{% load static %}

<!--====== Footer content ======-->
<div class="sigma-footer-box">
    <div class="sigma-footer-box-top">
      <div class="ft-logo">
        <a href="index.html">
          <img src="{% static 'web/img/logo.png' %}" alt="Logo">
        </a>
      </div>
      <ul class="ft-social-media">
        <li>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="sigma-footer-nav">
      <ul class="ft-nav">
        <li class="menu-item">
          <a href="index.html">
            Home
          </a>
        </li>
        <li class="menu-item">
          <a href="about.html">
            About Us
          </a>
        </li>
        <li class="menu-item">
          <a href="blog.html">
            News
          </a>
        </li>
        <li class="menu-item">
          <a href="gallery.html">
            Gallery
          </a>
        </li>
        <li class="menu-item">
          <a href="contact.html">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="contact-maps" id="map"></div>
</div>
</div>
</div>
</div>
<div class="sigma-footer-bottom">
<div class="container-fluid">
<div class="sigma-footer-bottom-inner">
<div class="row no-gutters align-items-end">
  <div class="col-lg-6">
    <div class="sigma-footer-contact">
      <ul>
        <li>
          <i class="flaticon-phone"></i>
          <a href="tel:"><span>Phone Number</span> +987 876 765 76 577</a>
        </li>
        <li>
          <i class="flaticon-message"></i>
          <a href="mailto:"><span>Email Address</span> info@webmail.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="sigma-footer-search">
      <form>
        <div class="input-group">
          <div class="input-group-prepend">
            <button><i class="fal fa-search"></i></button>
          </div>
          <input type="text" name="#" class="form-control" placeholder="Search...">
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="sigma-footer-contact style-2">
      <ul>
        <li>
          <i class="flaticon-location-pin"></i>
          <a href="#"><span>Office Address</span> 14/A, Miranda City, NYC</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Copyright -->
<div class="sigma-copyright">
<div class="container-fluid">
<div class="sigma-copyright-inner">
<div class="row">
  <div class="col-lg-6 col-md-5 order-2 order-md-1">
    <p class="sigma-copyright-text">Copyright By@<a href="#">Example</a> - 2022</p>
  </div>
  <div class="col-lg-6 col-md-7 order-1 order-md-2">
    <div class="sigma-copyright-menu">
      <ul>
        <li>
          <a href="#">Terms of use</a>
        </li>
        <li>
          <a href="#">Privacy Environmental Policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
</footer>
<!--====== FOOTER PART END ======-->
<!-- Quick View Modal Start -->
<div class="modal fade quick-view-modal" id="quickViewModal" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="close-btn" data-dismiss="modal">
  <a href="#" class="remove"><i class="fal fa-times"></i></a>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">
      <div class="shop-detail-image">
        <img src="{% static 'web/img/shop/detail-1.png' %}" class="img-fluid" alt="img">
      </div>
    </div>
    <div class="col-lg-7">
      <div class="shop-detail-content">
        <h3 class="product-title mb-20">Handmade Golden Ring</h3>
        <span class="rating mb-20">
          <span class="text-yellow"><i class="far fa-star"></i></span>
          <span class="text-yellow"><i class="far fa-star"></i></span>
          <span class="text-yellow"><i class="far fa-star"></i></span>
          <span class="text-dark-white"><i class="far fa-star"></i></span>
          <span class="text-dark-white"><i class="far fa-star"></i></span>
          <span class="pro-review"> <span>1 Reviews</span>
          </span>
        </span>
        <div class="desc mb-20 pb-20 border-bottom">
          <span class="price">$390 <span>$480</span></span>
        </div>
        <div class="mt-20 mb-20">
          <div class="d-inline-block other-info">
            <h6>Availability:
              <span class="text-success ml-2">In Stock</span>
            </h6>
          </div>
          <div class="ml-2 d-inline-block other-info">
            <h6>SKU:
              <span class="grey ml-2">006-bhg</span>
            </h6>
          </div>
        </div>
        <div class="short-descr mb-20">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
        </div>
        <div class="color-sec mb-20">
          <label>Color</label>
          <div class="color-box">
            <label class="m-0">
              <input type="radio" name="color">
              <span class="choose-color red"></span>
            </label>
            <label class="m-0">
              <input type="radio" name="color">
              <span class="choose-color yellow"></span>
            </label>
            <label class="m-0">
              <input type="radio" name="color">
              <span class="choose-color blue"></span>
            </label>
            <label class="m-0">
              <input type="radio" name="color">
              <span class="choose-color green"></span>
            </label>
          </div>
        </div>
        <div class="color-sec mb-20">
          <label>Material</label>
          <div class="color-box">
            <label class="m-0">
              <input type="radio" name="material">
              <span class="choose-material">Gold</span>
            </label>
            <label class="m-0">
              <input type="radio" name="material">
              <span class="choose-material">Diamond</span>
            </label>
            <label class="m-0">
              <input type="radio" name="material">
              <span class="choose-material">Silver</span>
            </label>
            <label class="m-0">
              <input type="radio" name="material">
              <span class="choose-material">Stone</span>
            </label>
          </div>
        </div>
        <div class="quantity-cart d-block d-sm-flex">
          <div class="quantity-box">
            <button type="button" class="minus-btn">
              <i class="fal fa-minus"></i>
            </button>
            <input type="text" class="input-qty" name="name" value="1">
            <button type="button" class="plus-btn">
              <i class="fal fa-plus"></i>
            </button>
          </div>
          <div class="cart-btn pl-40">
            <a href="#" class="main-btn btn-border">Add to Cart</a>
          </div>
        </div>
        <div class="other-info flex mt-20">
          <h6>Category:</h6>
          <ul>
            <li class="list-inline-item mr-2">
              <a href="#" class="grey">Bracelets</a>
            </li>
            <li class="list-inline-item mr-2">
              <a href="#" class="grey">Rings</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="grey">Silver Bracelet</a>
            </li>
          </ul>
        </div>
        <div class="other-info flex mt-20">
          <h6>Tags:</h6>
          <ul>
            <li class="list-inline-item mr-2">
              <a href="#" class="grey">rings</a>
            </li>
            <li class="list-inline-item mr-2">
              <a href="#" class="grey">necklaces</a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="grey">bracelet</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- Quick View Modal End -->
<!--====== Modal Popup Start ======-->
<!-- The Modal -->
<div class="modal fade on-load-modal" id="myModal">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content" style="background-image: url({% static 'web/img/popup.jpg' %})">
<!-- Modal Header -->
<div class="modal-header">
<button type="button" class="close popup-trigger" data-dismiss="modal">&times;</button>
</div>
<!-- Modal body -->
<div class="modal-body">
<div class="modal-inner">
  <h3 class="title">Newsletter</h3>
  <p>Subscribe to our newsletter to recieve exclusive offers</p>

  <form>
    <input type="email" placeholder="Email Address" name="email" value="">
    <button type="submit" class="main-btn btn-filled" name="button">Subscribe</button>
  </form>

</div>
</div>
</div>
</div>
</div>